* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  max-width: 600px;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #cca43b;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.btn-volver {
   text-decoration: none;
    background: linear-gradient(135deg, #cca43b, #e6c76b);
    color: #000;
    padding: 15px 40px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.btn-volver:hover {
  background-color: #e0b84f;
}